In [152]:
import pandas as pd

In [153]:
file_path = '../Resources/austinHousingData.csv'
a_sales_df = pd.read_csv(file_path)

a_sales_df.head()

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg

In [154]:
a_sales_df.count()

zpid                          15171
city                          15171
streetAddress                 15171
zipcode                       15171
description                   15171
latitude                      15171
longitude                     15171
propertyTaxRate               15171
garageSpaces                  15171
hasAssociation                15171
hasCooling                    15171
hasGarage                     15171
hasHeating                    15171
hasSpa                        15171
hasView                       15171
homeType                      15171
parkingSpaces                 15171
yearBuilt                     15171
latestPrice                   15171
numPriceChanges               15171
latest_saledate               15171
latest_salemonth              15171
latest_saleyear               15171
latestPriceSource             15171
numOfPhotos                   15171
numOfAccessibilityFeatures    15171
numOfAppliances               15171
numOfParkingFeatures          15171
numOfPatioAndPorchFeatures    15171
numOfSecurityFeatures         15171
numOfWaterfrontFeatures       15171
numOfWindowFeatures           15171
numOfCommunityFeatures        15171
lotSizeSqFt                   15171
livingAreaSqFt                15171
numOfPrimarySchools           15171
numOfElementarySchools        15171
numOfMiddleSchools            15171
numOfHighSchools              15171
avgSchoolDistance             15171
avgSchoolRating               15171
avgSchoolSize                 15171
MedianStudentsPerTeacher      15171
numOfBathrooms                15171
numOfBedrooms                 15171
numOfStories                  15171
homeImage                     15171
dtype: int64

In [155]:
ml_data = a_sales_df.copy()

In [159]:
ml_data = ml_data[['homeType', 'hasGarage', 'hasCooling', 'hasHeating', 'hasView', 'yearBuilt', 'latestPrice', 
                   'latest_saleyear', 'lotSizeSqFt', 'livingAreaSqFt', 'numOfBathrooms', 'numOfBedrooms', 'numOfStories']]

In [160]:
ml_data.head()

,homeType,hasGarage,hasCooling,hasHeating,hasView,yearBuilt,latestPrice,latest_saleyear,lotSizeSqFt,livingAreaSqFt,numOfBathrooms,numOfBedrooms,numOfStories
0,Single Family,True,True,True,False,2012,305000.0,2019,6011.0,2601.0,3.0,4,2
1,Single Family,True,True,True,False,2013,295000.0,2020,6185.0,1768.0,2.0,4,1
2,Single Family,False,True,True,False,2018,256125.0,2019,7840.0,1478.0,2.0,3,1
3,Single Family,True,True,True,False,2013,240000.0,2018,6098.0,1678.0,2.0,3,1
4,Single Family,False,True,True,False,2002,239900.0,2018,6708.0,2132.0,3.0,3,2

In [161]:
ml_data.count()

homeType           15171
hasGarage          15171
hasCooling         15171
hasHeating         15171
hasView            15171
yearBuilt          15171
latestPrice        15171
latest_saleyear    15171
lotSizeSqFt        15171
livingAreaSqFt     15171
numOfBathrooms     15171
numOfBedrooms      15171
numOfStories       15171
dtype: int64

In [162]:
ml_data.to_csv('../Resources/austin_ml_data.csv')