In [4]:
import pandas as pd

In [5]:
file_path = '../Resources/brooklyn_sales_map.csv'
b_sales_df = pd.read_csv(file_path)

b_sales_df.head()

E:\Users\Ajay\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (40,41,43,45,46,47,86) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,borough,neighborhood,building_class_category,tax_class,block,lot,easement,building_class,address,...,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLA,PFIRM15_FL,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area
0,1,3,DOWNTOWN-METROTECH,28 COMMERCIAL CONDOS,4,140,1001,NaN,R5,330 JAY STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3,DOWNTOWN-FULTON FERRY,29 COMMERCIAL GARAGES,4,54,1,NaN,G7,85 JAY STREET,...,NaN,3.000540e+09,12/06/2002,1.0,NaN,NaN,17V1.1,0.0,1559.889144,140131.577176
2,3,3,BROOKLYN HEIGHTS,21 OFFICE BUILDINGS,4,204,1,NaN,O6,29 COLUMBIA HEIGHTS,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,890.718521,34656.447240
3,4,3,MILL BASIN,22 STORE BUILDINGS,4,8470,55,NaN,K6,5120 AVENUE U,...,NaN,0.000000e+00,NaN,1.0,1.0,1.0,17V1.1,0.0,3729.786857,797554.847834
4,5,3,BROOKLYN HEIGHTS,26 OTHER HOTELS,4,230,1,NaN,H8,21 CLARK STREET,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,620.761169,21360.147631

In [6]:
b_sales_df.count()

Unnamed: 0                 390883
borough                    390883
neighborhood               390883
building_class_category    390800
tax_class                  383949
                            ...
PFIRM15_FL                  27773
Version                    303728
MAPPLUTO_F                 303728
SHAPE_Leng                 303728
SHAPE_Area                 303728
Length: 111, dtype: int64

In [7]:
# Delete empty column
cleaning_b_sales = b_sales_df.drop(['easement'], axis=1)

In [8]:
#remove all rows without data in the Residential Data category
cleaning_b_sales = cleaning_b_sales.loc[cleaning_b_sales.ResArea != 0.0]

In [9]:
print(cleaning_b_sales['building_class_category'].unique())

['28  COMMERCIAL CONDOS' '31  COMMERCIAL VACANT LAND'
 '08  RENTALS - ELEVATOR APARTMENTS' '29  COMMERCIAL GARAGES'
 '11A CONDO-RENTALS' '30  WAREHOUSES' '43  CONDO OFFICE BUILDINGS'
 '41  TAX CLASS 4 - OTHER' '07  RENTALS - WALKUP APARTMENTS'
 '21  OFFICE BUILDINGS' '45  CONDO HOTELS' '38  ASYLUMS AND HOMES'
 '14  RENTALS - 4-10 UNIT' '05  TAX CLASS 1 VACANT LAND'
 '46  CONDO STORE BUILDINGS' '08 RENTALS - ELEVATOR APARTMENTS'
 '22  STORE BUILDINGS' '07 RENTALS - WALKUP APARTMENTS' '27  FACTORIES'
 '13  CONDOS - ELEVATOR APARTMENTS' '48  CONDO TERRACES/GARDENS/CABANAS'
 '17  CONDOPS' '32  HOSPITAL AND HEALTH FACILITIES' '02 TWO FAMILY HOMES'
 '04  TAX CLASS 1 CONDOS' '10  COOPS - ELEVATOR APARTMENTS'
 '18  TAX CLASS 3 - UTILITY PROPERTIES' '23  LOFT BUILDINGS'
 '12  CONDOS - WALKUP APARTMENTS' '01 ONE FAMILY HOMES'
 '13 CONDOS - ELEVATOR APARTMENTS' '37  RELIGIOUS FACILITIES'
 '03 THREE FAMILY HOMES' '28 COMMERCIAL CONDOS' '17  CONDO COOPS'
 '33  EDUCATIONAL FACILITIES' '26  OTHER HOTELS' '44  CONDO PARKING'
 '15 CONDOS - 2-10 UNIT RESIDENTIAL'
 '40  SELECTED GOVERNMENTAL FACILITIES' '46 CONDO STORE BUILDINGS'
 '22 STORE BUILDINGS' '09  COOPS - WALKUP APARTMENTS'
 '42  CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC' '14 RENTALS - 4-10 UNIT'
 '35  INDOOR PUBLIC AND CULTURAL FACILITIES'
 '15  CONDOS - 2-10 UNIT RESIDENTIAL'
 '16  CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT' '44 CONDO PARKING'
 '16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT' '41 TAX CLASS 4 - OTHER'
 '10 COOPS - ELEVATOR APARTMENTS' '21 OFFICE BUILDINGS'
 '09 COOPS - WALKUP APARTMENTS' '04 TAX CLASS 1 CONDOS'
 '31 COMMERCIAL VACANT LAND' '37 RELIGIOUS FACILITIES'
 '06  TAX CLASS 1 - OTHER' '12 CONDOS - WALKUP APARTMENTS'
 '42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC' '43 CONDO OFFICE BUILDINGS'
 '25  LUXURY HOTELS' nan '17 CONDO COOPS' '30 WAREHOUSES'
 '48 CONDO TERRACES/GARDENS/CABANAS' '05 TAX CLASS 1 VACANT LAND'
 '49  CONDO WAREHOUSES/FACTORY/INDUS' '11  SPECIAL CONDO BILLING LOTS'
 '36  OUTDOOR RECREATIONAL FACILITIES'
 '18  TAX CLASS 3 - UNTILITY PROPERTIES' '47  CONDO NON-BUSINESS STORAGE'
 '47 CONDO NON-BUSINESS STORAGE' '49 CONDO WAREHOUSES/FACTORY/INDUS'
 '34  THEATRES' '33 EDUCATIONAL FACILITIES'
 '35 INDOOR PUBLIC AND CULTURAL FACILITIES'
 '39  TRANSPORTATION FACILITIES']

In [14]:
cleaning_b_sales = cleaning_b_sales.loc[(cleaning_b_sales['building_class_category'] == '01 ONE FAMILY HOMES') 
]

In [15]:
cleaning_b_sales = cleaning_b_sales.drop(['Borough', 'ZoneDist4', 'ZoneDist3', 'ZoneDist2'], axis=1)

In [18]:
cleaning_b_sales = cleaning_b_sales.loc[(cleaning_b_sales['sale_price'] != 0) | (cleaning_b_sales['sale_price'] != 'N/A')]

In [19]:
cleaning_b_sales.count()

Unnamed: 0                 53654
borough                    53654
neighborhood               53654
building_class_category    53654
tax_class                  53073
                           ...
PFIRM15_FL                  6838
Version                    52706
MAPPLUTO_F                 52706
SHAPE_Leng                 52706
SHAPE_Area                 52706
Length: 106, dtype: int64